<div class="bg-info img-rounded">
    <p class="lead"><span class="name">{{film.name}}</span></p>
    <p class="bg-info">director: <span class="director">{{film.director}}</span></p>
    <p class="bg-info">actors: <span class="actors">{{film.actors}}</span></p>
    <p class="bg-info">genre: <span class="genre">{{film.genre}}</span></p>
    <p class="bg-info">description: <span class="description">{{film.description}}</span></p>
    <button ng-click="back();" class="btn btn-primary">Back</button>
</div>
